<div layout="column" layout-margin>
    <div layout="row" class="page-container" service-poll>
        <poll-card number="1" type="DataCtrl.cacheType" data="data1" count="pollCount1"></poll-card>
        <poll-card number="2" type="DataCtrl.cacheType" data="data2" count="pollCount2"></poll-card>
        <poll-card number="3" type="DataCtrl.cacheType" data="data3" count="pollCount3"></poll-card>
        <poll-card number="4" type="DataCtrl.cacheType" data="data4" count="pollCount4"></poll-card>
    </div>

    <clear-local-storage ng-show="{{DataCtrl.localStorage}}"></clear-local-storage>
</div>
