<div class="pure-g" service-poll>
   <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <h3>Service #1</h3>
      <p>Polling using {{DataCtrl.cacheType}}.</p>
      <p>{{data1}}</p>
      <p>Polls: {{pollCount1}}</p>
   </div>
   <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <h3>Service #2</h3>
      <p>Polling using {{DataCtrl.cacheType}}.</p>
      <p>{{data2}}</p>
      <p>Polls: {{pollCount2}}</p>
   </div>
   <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <h3>Service #3</h3>
      <p>Polling using {{DataCtrl.cacheType}}.</p>
      <p>{{data3}}</p>
      <p>Polls: {{pollCount3}}</p>
   </div>
   <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
      <h3>Service #4</h3>
      <p>Polling using {{DataCtrl.cacheType}}.</p>
      <p>{{data4}}</p>
      <p>Polls: {{pollCount4}}</p>
   </div>
</div>